<%= form_for(@url_shortener) do |f| %>
  <% if @url_shortener.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@url_shortener.errors.count, "error") %> prohibited this url_shortener from being saved:</h2>

      <ul>
      <% @url_shortener.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :URL %><br>
    <%= f.text_field :URL %>
  </div>
  <div class="field">
    <%= f.hidden_field :ShortendURL, value: UrlShortener.shorturl %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
