<p id="notice"><%= notice %></p>

<h1>Listing Url Shorteners</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Shortendurl</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @url_shorteners.each do |url_shortener| %>
      <tr>
        <td><%= url_shortener.URL %></td>
        <td><%= url_shortener.ShortendURL %></td>
        <td><%= link_to 'Show', url_shortener %></td>
        <td><%= link_to 'Edit', edit_url_shortener_path(url_shortener) %></td>
        <td><%= link_to 'Destroy', url_shortener, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Url shortener', new_url_shortener_path %>
